#canvas {
	position: fixed;
	top: 0px;
	left: 0px;
}

section {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 34%;
	background: lawngreen;
	color: ghostwhite;
}

#controls {
	display: flex;
	justify-content: space-around;
}

#controls > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	color: inherit;
	background: none;
	border: none;
	outline: none;
	font-size: 100px;
	padding: 0px;
	text-align: center;
	max-width: 200px;
	cursor: col-resize;
}

#tension {
	padding-top: 20px;
	text-align: center;
	font-size: 42px
}